<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NDesk.Options" version="0.2.1" />
  <package id="Roslyn" version="1.1.20524.4" />
  <package id="Roslyn.Compilers.Common" version="1.1.20524.4" />
  <package id="Roslyn.Compilers.CSharp" version="1.1.20524.4" />
  <package id="Roslyn.Compilers.VisualBasic" version="1.1.20524.4" />
  <package id="Roslyn.Services.Common" version="1.1.20524.4" />
  <package id="Roslyn.Services.CSharp" version="1.1.20524.4" />
  <package id="Roslyn.Services.VisualBasic" version="1.1.20524.4" />
  <package id="Rx-Main" version="1.0.11226" />
</packages>